@model IEnumerable<MVC.Models.Category>

@{ ViewBag.Title = "Store"; }

<h2>Browsing Categories</h2>
<p>
    Select category:
</p>
<ul>
    @foreach (var category in Model)
    {
<li>@Html.ActionLink(category.Name, "Browse", new { category = category.Name })</li>
}
</ul>

